@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$colorBack:linear-gradient(0.5turn,black 50%, rgb(58, 204, 253));
$colorTandI:rgb(94, 203, 254);
$font: 'Roboto';

*{
    margin: 0;
    box-sizing: border-box;
}
svg{
    color:rgb(57, 177, 233);
}
a{
    text-decoration: none;
}
body{
    background: $colorBack;
    color: rgb(166, 166, 166);
    font-family: $font;
    z-index: -2;
}

.inner{
    width: 100%;
    padding: 0 3em;
    background-color: rgb(38, 36, 36);
    height: 100vh;
}
.hidden{
    display: none;
}
.blueThin{
    min-width: 6em;
    font-size: 2.5rem;
    font-weight: 100;
    strong{
        font-weight: 500;
        color:rgb(141, 219, 255);
    }
}

.upper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    padding: 3em 0;
    
    .logo{
        display: flex;
        align-items: center;
    }
    .navigation{
        width: 100%;
        #list{
            list-style-type: none;
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            height: 100%;
            gap: 2em;
        }
        a{
            text-decoration: none;
            color: white;
            
        }
        li{
            transition: .2s ease;
            z-index: 1;
        }
        li:hover{
            transform: scale(2);
            padding:0 2em;
            z-index: 0;
        }
    }
    .user{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
        img{
            width: 3.5em;
            height: 3.5em;
            z-index: 1;
            transition: .2s ease;
            padding: 1em;
            border-radius: 2em;
            &:hover{
                cursor: pointer;
                background-color: rgb(255, 255, 255);
            }
        }
        #searchTextBox{
            font-size: 1.5rem;
            height: 3rem;
            color: rgb(43, 43, 43);
            background: rgb(185, 184, 184);
            border: none;
            position: absolute;
            z-index: 0;
            right: 6em;
        }
    }
}
.main{
    display: flex;
    margin: 0 auto;
    height: 80%;
    .farLeft{
        writing-mode: vertical-lr;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap:1.75em;
        position: relative;
        width: 2em;
        padding: 2em;
        color:$colorTandI;
        
        a{
            transition: 0.2s ease;
            color:inherit;
            border-radius: 25px;
            &:hover{
                transform: scale(1.2);
                background-color: rgb(79, 77, 77);
                border: rgb(62, 60, 60) solid;
                padding: .5em;
            }
        }
        &::after{
            content: '';
            width: .3em;
            height: 15em;
            background-color:$colorTandI;
        }
        img{
            color: inherit;
            width: 1.5em;
        }
    }
    .left{
        width: 90%;
        padding: 0 1em;
        h1{
            font-size: 5rem;
            padding: 2rem 0;
        }
        p{
            font-size:1.1rem;
        }
       .presenting{
        display: flex;
        flex-wrap: wrap;
        padding: 1em 0; 
        .pres{
            width: 50%;
            height: 7em;
            display: inherit;
            align-items: center;
        }
        img{
            width: 6em;
            padding: 1em;
        }
       }
       .price{
        display: flex;
        flex-direction: column;
        padding: 2em 1em ;
        h1{
            font-size: 3rem;
        }
        #priceId{
            font-size: 3rem;
            padding: 0;
        }
        .buttons{
            padding-top: 1em;   
            display: flex;
            align-items: center;
            gap: 2em; 
            #quantity{
                font-size: 1.5rem;
            }
            .plusMinus{
                display: inherit;
                align-items: center;
                gap: 1em;
            }
            .shop{
                width: 15rem;
                height: 4rem;
                font-size: 1.5rem;
                color: white;
                background-color: $colorTandI;
                border: none;
                border-radius: 10px;
                transition: .2s ease;
                &:hover{
                    cursor: pointer;
                    transform: scale(1.1);
                }
            }
            .plusBtn{
                width: 3rem;
                height: 3rem;
                border: none;
                font-size: 1.5rem;
                background-color: rgb(26, 23, 23);
                color: rgb(128, 127, 127);
                transition: 0.2s ease;
                &:hover{
                    cursor: pointer;
                    background-color: rgb(21, 19, 19);
                    color: white;
                    border-radius: 10px;
                    transform: scale(1.2);
                }
            }
         }
       }
    }
    .right{
      width: 100%;
    }
    #mainDisplay{
        height: 70vh;
        background-color: rgb(56, 56, 63);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #images{
        height: 10vh;
        background-color: darkred;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }    
}
.desTabs{
    height: 30vh;
    background-color: rgb(33, 32, 32);
    display: flex;
    justify-content: space-around;
    align-items: center;
    .part{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2em;
        img{
            width: 10em;
            height: 6em;
        }
        color: white;
        &:hover{
            background-color: $colorTandI;
            cursor: pointer;
        }
        p{
            width: 50%;
            text-align: center;

        }
    }
}
