@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$colorBack:linear-gradient(0.5turn,black 50%, rgb(58, 204, 253));
$colorTandI:rgb(94, 203, 254);
$colorSection:rgb(31, 28, 28);

$font: 'Roboto';

*{
    margin: 0;
    box-sizing: border-box;
    ul{
        padding: 0;
    }
    color: white;
}
svg{
    color:rgb(57, 177, 233);
}
a{
    text-decoration: none;
}
body{
    background-color: $colorSection;
    color: rgb(166, 166, 166);
    font-family: $font;
    z-index: -2;
}


.inner{
    width: 100%;
    height: auto;
    padding-bottom: 2vw;
    background:url("https://github.com/KingRichard2/mavicProj/blob/main/images/drone/pngfind.com-dji-png-4835958.png");
}
.hidden{
    display: none;
}
.blueThin{
    font-size: 4vw;
    font-weight: 100;
    strong{
        font-weight: 500;
        color:rgb(141, 219, 255);
    }
}

.upper{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    vertical-align: center;
    padding: 3em 0;

    .blueThin{
        width: 15vw;
        font-size: clamp(1.5vw,2vw,2.5vw);
        text-align: center;
    }
    .logo{
        display: flex;
        align-items: center;
    }
    .navigation{
        width: auto;
        #list{
            list-style-type: none;
            display: flex;
            min-width: 60vw;
            justify-content: center;
            align-items: center;
            height: 100%;
            gap: 2em;
            font-size: clamp(1vw);
        }
        
        li{
            transition: .2s ease;
            z-index: 1;
            a{
                display: flex;
                text-decoration: none;
                color: white;
                font-size: 1vw;
            }
        }
        li:hover{
            transform: scale(2);
            padding:0 2em;
            z-index: 0;
        }
    }
    .user{
        display: flex;
        align-items: center;
        justify-content: center;
        gap:.5vw;
        img{
            height: 3vw;
            z-index: 1;
            transition: .2s ease;
            padding: calc(1vw*.9);
            border-radius: 1vw;
            &:hover{
                cursor: pointer;
                background-color: rgb(255, 255, 255);
            }
        }
        #searchBtn{
            position: relative;
        }
        #searchTextBox{
            font-size: 1.75vw;
            width: 15vw;
            height: 3vw;
            color: rgb(43, 43, 43);
            background: rgb(255, 254, 254);
            border: none;
            position: absolute;
            right: 0;
            z-index: 0;
        }
        .search{
            display: flex;
            position: relative;
        }
    }
}
.farLeft{
    writing-mode: vertical-lr;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .5vw;
    width: 2em;
    padding: 2em;
    padding-top: 10em;
    color:$colorTandI;
    font-size: .9vw;
    span{
        color: $colorTandI;
        
    }
    a{
        transition: 0.2s ease;
        color:inherit;
        border-radius: 3vw;
        padding: 1vw;
        &:hover{
            background-color: rgb(79, 77, 77);
        }
    }
    &::after{
        content: '';
        width: .3em;
        height: 15em;
        background-color:$colorTandI;
    }
    img{
        color: inherit;
        width: 1.5em;
    }
}
.main{
    display: flex;
    justify-content: center;
    padding: 0 2vw;
    width: 100%;
    height: auto;
    font-size: clamp(.5vw,.75vw,1vw);
    .left{
        width: 100%;
        padding: 0 1em;
        p{
            font-size:1vw;
            width: 90%;
        }
       .presenting{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 1em 0; 
        height: 20vh;
        .pres{
            width: 50%;
            height: 7em;
            display: inherit;
            align-items: center;
            font-size: 1vw;
        }
        img{
            width: 6vw;
            padding: 1em;
        }
       }
       .price{
        height: 15vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding:1vh 1vw;
        font-size: 1vw;
        h1{
            font-size: 2vw;
        }
        #priceId{
            font-size: 2vw;
            padding: 0;
        }
        .buttons{
            display: flex;
            align-items: center;
            gap: 2em; 
            #quantity{
                font-size: 1.3vw;
            }
            .plusMinus{
                display: inherit;
                align-items: center;
                gap: 1em;
            }
            .shop{
                width: 15vw;
                height: 4vw;
                font-size: 1.2vw;
                color: white;
                background-color: $colorTandI;
                border: none;
                border-radius: 10px;
                transition: .2s ease;
                &:hover{
                    cursor: pointer;
                    transform: scale(1.1);
                }
            }
            .plusBtn{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 3vw;
                height: 3vw;
                border: none;
                font-size: 1.5vw;
                background-color: rgb(26, 23, 23);
                color: rgb(128, 127, 127);
                transition: 0.2s ease;
                &:hover{
                    cursor: pointer;
                    background-color: rgb(21, 19, 19);
                    color: white;
                    border-radius: 10px;
                    transform: scale(1.2);
                }
            }
         }
       }
    }
    .right{
        width: 120%;
        height: 40vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .disImages{
            background-color: transparent;
            .disImage{
                display: flex;  
                overflow: hidden;
                justify-content: center;
                width: 8vw;
                height: 4vw;
                &:hover{
                    cursor: pointer;
                    border: 3px solid rgb(66, 61, 61);
                }
            }
        }
    }
    .mainDisplayCl{
        height: clamp(30vh,35vw);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        img{
            width: 100%;
        }
        #mainDisplay{
            width: 80%;
        }
    }
 

  
    #images{
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }    
}
.desTabs{
    height:clamp(15vh,20vw, 30vh);
    background-color: rgb(46, 43, 43);
    display: flex;
    justify-content: space-around;
    align-items: center;
    .part{
        width:100%;
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1em;
        font-size: 1vw;
        img{
            width: 10vw;
            height: 6em;
        }
        color: white;
        &:hover{
            background-color: $colorTandI;
            cursor: pointer;
        }
        p{
            width: 50%;
            text-align: center;

        }
    }
}
.info1{
    background-color: $colorSection;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-weight: 300;
    height: auto;
    color: white;
    .camera{
        width: 90vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
        .displayImg{
            width: 30vw;
            justify-self: center;
        }
        .whiteThin{
            font-size: 1.5vw;
        }
        .specs{
            display: flex;
            justify-content: start;
            font-size: 1vw;
            gap: 6em;
            .ulSpecs{
                list-style-type: none;
                font-size: 1.2vw;
                justify-content: start;
                li{
                    padding: .5vw 0;
                }
            }
        }
        &__Left{
            display: flex;
            flex-direction: column;
            gap:1em;
            height: 25vw;
        }
        &__line{
            padding: 1vw 0;
            display: flex;
            flex-direction: column;
            &::after{
                content: '';
                width: 10vw;
                height: .3vw;
                border-radius: 10px;
                background-color:$colorTandI;
                margin-top: 2vw;
            }   
        }
    }
    .reverse{
        flex-direction: row-reverse;
    } 
}
.toBottomRev{
    writing-mode: horizontal-tb;
    width: 40vw;
    left: 0;
    right: 0;
    padding-top: 2em;
    white-space: nowrap;
   &::after{
    content:'';
    width: 100%;
    height: .3vw;
    border-radius: 10px;
    background-color: $colorBack;
   }
   align-self: start;
   flex-direction: row-reverse;
   position: relative;
   left: 5vw;
}

.foldAndPort{
    color: white;
    height: 50vw;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-image: url("../images/prince-hassan-VN3xlW3N7yw-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:bottom;
    background-attachment: fixed;
    gap: 1.5vw;
    padding: 10vw;
    &__foldH1{
        font-size: 5vw;
    }
    &__create{
        font-size: 3.5vw;
        font-weight: 300;
    }

}
.transmis{
    text-align: center;
    background-color: $colorSection;
    padding: 2vw;
    line-height: 5vw;
    margin: 0 auto;
    position: relative;
    &__droneDis{
        width: 50vw;
        height: 22vw;
    }
    &__sys{
        font-size: 4vw;
        font-weight: 400;
    }
    &__explore{
        font-size: 1.5vw;
        font-weight: 200;
    }
    &__droneTxt{
        line-height: 5vw;
        font-size: 2vw;
        font-weight: 300;
    }
    .absolutePos{
        position: absolute;
        bottom: 2vw;
        line-height: 1em;
    }
    
}

.features{
    height: auto;
    background-size: cover;
    background-position: left;
    position: relative;
    .wrapRow{
        display: flex;
        align-items: center;
    }
    &__inner{
        font-size: 1vw;
        padding: 4vw;
    }

    &__megapix{
        padding: 2vw 4vw;
        opacity: 1;
        display: inherit;
        flex-direction: column;

        gap:1vw;
        width: 50vw;
        .camDescription{
            width: 40vw;
        }
        .camDescription2{
            align-self: end;
        }
    }
    .flightImg{
        width: 20vw;
        height: 20vw;
        align-self: center;
        border-radius: 10vw;
    }
    .second{
        border-radius: 0;
        width: 20vw;
        height: 16vw;
    }
.reverse{
    flex-direction: row-reverse;
    text-align: right;
    
    .flightImg{
        width: 20vw;
        height: 17.5vw;
        align-self: center;
        border-radius: 0;
        border-top-right-radius: 10vw ;
    }
}
    &__icons{
       gap:.5vw;
       display: flex;
       flex-wrap: wrap;
       position: relative;
       gap:0;
        .icon{
           display: inherit;
            width: 20vw;
            height: 5vw;
            gap:1vw;
            align-items: center;
            .iconImg{
                width: 4vw;
            }
            .iconText{
                width: 100%;
                flex-direction: row-reverse;
            }
            &__span{
                gap: 1vw;
                display: flex;
                align-items: center;
            }
            
        }
        .rowRev{
            flex-direction: row-reverse;
            align-content: flex-start;
        }          
    }
    .flEnd{
        justify-content: flex-end;
    }
    
    &::before{
        content: "";
        background-image: url('../images/drone/wallpaperflare.com_wallpaper.jpg');
        background-size: cover;
        background-attachment: fixed;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.2;
    }

}

.footer{
    position: relative;
    height: 25vw;
    width: 100%;
    position: relative;
    padding: 2vw;
    display: flex;
    font-size: 1vw;
.footerFarLeft{
    writing-mode: horizontal-tb;
    padding: 1vw 0;
    gap: 0;
    width: 20vw;
    justify-content: flex-end;
    flex-direction: row-reverse;
   &::after{
    display: none;
   }
  
}
.smaller{
    font-size: 2vw;
   }
&__questions{
    font-size: 1vw;
    opacity: .5;
}
&__lowerLeft{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
&__right{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-left: 10vw;
}
&__info{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
&__list{
    list-style-type: none;
    line-height: 2vw;
    a{
        opacity: .5;
    }
}
.absolute{
    position: absolute;
    width: 95%;
    text-align: center;
    bottom: 1vw;
}
}
