@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
}

* ul {
  padding: 0;
}

svg {
  color: #39b1e9;
}

a {
  text-decoration: none;
}

body {
  background-color: #1f1c1c;
  color: #a6a6a6;
  font-family: "Roboto";
  z-index: -2;
}

.inner {
  width: 100%;
  height: auto;
  padding-bottom: 2vw;
  background: url("https://github.com/KingRichard2/mavicProj/blob/main/images/drone/pngfind.com-dji-png-4835958.png");
}

.hidden {
  display: none;
}

.blueThin {
  font-size: 4vw;
  font-weight: 100;
}

.blueThin strong {
  font-weight: 500;
  color: #8ddbff;
}

.upper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: center;
  padding: 3em 0;
}

.upper .blueThin {
  width: 15vw;
  font-size: clamp(1.5vw, 2vw, 2.5vw);
  text-align: center;
}

.upper .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upper .navigation {
  width: auto;
}

.upper .navigation #list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 60vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  gap: 2em;
  font-size: clamp(1vw);
}

.upper .navigation li {
  -webkit-transition: .2s ease;
  transition: .2s ease;
  z-index: 1;
}

.upper .navigation li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: white;
  font-size: 1vw;
}

.upper .navigation li:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
  padding: 0 2em;
  z-index: 0;
}

.upper .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: .5vw;
}

.upper .user img {
  height: 3vw;
  z-index: 1;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  padding: calc(1vw*.9);
  border-radius: 1vw;
}

.upper .user img:hover {
  cursor: pointer;
  background-color: white;
}

.upper .user #searchBtn {
  position: relative;
}

.upper .user #searchTextBox {
  font-size: 1.75vw;
  width: 15vw;
  height: 3vw;
  color: #2b2b2b;
  background: #fffefe;
  border: none;
  position: absolute;
  right: 0;
  z-index: 0;
}

.upper .user .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.farLeft {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5vw;
  width: 2em;
  padding: 2em;
  padding-top: 10em;
  color: #5ecbfe;
  font-size: .9vw;
}

.farLeft span {
  color: #5ecbfe;
}

.farLeft a {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  color: inherit;
  border-radius: 3vw;
  padding: 1vw;
}

.farLeft a:hover {
  background-color: #4f4d4d;
}

.farLeft::after {
  content: '';
  width: .3em;
  height: 15em;
  background-color: #5ecbfe;
}

.farLeft img {
  color: inherit;
  width: 1.5em;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 2vw;
  width: 100%;
  height: auto;
  font-size: clamp(0.5vw, 0.75vw, 1vw);
}

.main .left {
  width: 100%;
  padding: 0 1em;
}

.main .left p {
  font-size: 1vw;
  width: 90%;
}

.main .left .presenting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 0;
  height: 20vh;
}

.main .left .presenting .pres {
  width: 50%;
  height: 7em;
  display: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1vw;
}

.main .left .presenting img {
  width: 6vw;
  padding: 1em;
}

.main .left .price {
  height: 15vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1vh 1vw;
  font-size: 1vw;
}

.main .left .price h1 {
  font-size: 2vw;
}

.main .left .price #priceId {
  font-size: 2vw;
  padding: 0;
}

.main .left .price .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
}

.main .left .price .buttons #quantity {
  font-size: 1.3vw;
}

.main .left .price .buttons .plusMinus {
  display: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

.main .left .price .buttons .shop {
  width: 15vw;
  height: 4vw;
  font-size: 1.2vw;
  color: white;
  background-color: #5ecbfe;
  border: none;
  border-radius: 10px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.main .left .price .buttons .shop:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main .left .price .buttons .plusBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3vw;
  height: 3vw;
  border: none;
  font-size: 1.5vw;
  background-color: #1a1717;
  color: #807f7f;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.main .left .price .buttons .plusBtn:hover {
  cursor: pointer;
  background-color: #151313;
  color: white;
  border-radius: 10px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.main .right {
  width: 120%;
  height: 40vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .right .disImages {
  background-color: transparent;
}

.main .right .disImages .disImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 8vw;
  height: 4vw;
}

.main .right .disImages .disImage:hover {
  cursor: pointer;
  border: 3px solid #423d3d;
}

.main .mainDisplayCl {
  height: clamp(30vh, 35vw);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.main .mainDisplayCl img {
  width: 100%;
}

.main .mainDisplayCl #mainDisplay {
  width: 80%;
}

.main #images {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.desTabs {
  height: clamp(15vh, 20vw, 30vh);
  background-color: #2e2b2b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.desTabs .part {
  width: 100%;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
  font-size: 1vw;
  color: white;
}

.desTabs .part img {
  width: 10vw;
  height: 6em;
}

.desTabs .part:hover {
  background-color: #5ecbfe;
  cursor: pointer;
}

.desTabs .part p {
  width: 50%;
  text-align: center;
}

.info1 {
  background-color: #1f1c1c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-weight: 300;
  height: auto;
  color: white;
}

.info1 .camera {
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

.info1 .camera .displayImg {
  width: 30vw;
  -ms-grid-column-align: center;
      justify-self: center;
}

.info1 .camera .whiteThin {
  font-size: 1.5vw;
}

.info1 .camera .specs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  font-size: 1vw;
  gap: 6em;
}

.info1 .camera .specs .ulSpecs {
  list-style-type: none;
  font-size: 1.2vw;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.info1 .camera .specs .ulSpecs li {
  padding: .5vw 0;
}

.info1 .camera__Left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
  height: 25vw;
}

.info1 .camera__line {
  padding: 1vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info1 .camera__line::after {
  content: '';
  width: 10vw;
  height: .3vw;
  border-radius: 10px;
  background-color: #5ecbfe;
  margin-top: 2vw;
}

.info1 .reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.toBottomRev {
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb;
  width: 40vw;
  left: 0;
  right: 0;
  padding-top: 2em;
  white-space: nowrap;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: relative;
  left: 5vw;
}

.toBottomRev::after {
  content: '';
  width: 100%;
  height: .3vw;
  border-radius: 10px;
  background-color: linear-gradient(0.5turn, black 50%, #3accfd);
}

.foldAndPort {
  color: white;
  height: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../images/prince-hassan-VN3xlW3N7yw-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  background-attachment: fixed;
  gap: 1.5vw;
  padding: 10vw;
}

.foldAndPort__foldH1 {
  font-size: 5vw;
}

.foldAndPort__create {
  font-size: 3.5vw;
  font-weight: 300;
}

.transmis {
  text-align: center;
  background-color: #1f1c1c;
  padding: 2vw;
  line-height: 5vw;
  margin: 0 auto;
  position: relative;
}

.transmis__droneDis {
  width: 50vw;
  height: 22vw;
}

.transmis__sys {
  font-size: 4vw;
  font-weight: 400;
}

.transmis__explore {
  font-size: 1.5vw;
  font-weight: 200;
}

.transmis__droneTxt {
  line-height: 5vw;
  font-size: 2vw;
  font-weight: 300;
}

.transmis .absolutePos {
  position: absolute;
  bottom: 2vw;
  line-height: 1em;
}

.features {
  height: auto;
  background-size: cover;
  background-position: left;
  position: relative;
}

.features .wrapRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__inner {
  font-size: 1vw;
  padding: 4vw;
}

.features__megapix {
  padding: 2vw 4vw;
  opacity: 1;
  display: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1vw;
  width: 50vw;
}

.features__megapix .camDescription {
  width: 40vw;
}

.features__megapix .camDescription2 {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.features .flightImg {
  width: 20vw;
  height: 20vw;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 10vw;
}

.features .second {
  border-radius: 0;
  width: 20vw;
  height: 16vw;
}

.features .reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: right;
}

.features .reverse .flightImg {
  width: 20vw;
  height: 17.5vw;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 0;
  border-top-right-radius: 10vw;
}

.features__icons {
  gap: .5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  gap: 0;
}

.features__icons .icon {
  display: inherit;
  width: 20vw;
  height: 5vw;
  gap: 1vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__icons .icon .iconImg {
  width: 4vw;
}

.features__icons .icon .iconText {
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.features__icons .icon__span {
  gap: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__icons .rowRev {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.features .flEnd {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.features::before {
  content: "";
  background-image: url("../images/drone/wallpaperflare.com_wallpaper.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
}

.footer {
  position: relative;
  height: 25vw;
  width: 100%;
  position: relative;
  padding: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1vw;
}

.footer .footerFarLeft {
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb;
  padding: 1vw 0;
  gap: 0;
  width: 20vw;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.footer .footerFarLeft::after {
  display: none;
}

.footer .smaller {
  font-size: 2vw;
}

.footer__questions {
  font-size: 1vw;
  opacity: .5;
}

.footer__lowerLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1vw;
}

.footer__right {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  padding-left: 10vw;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1vw;
}

.footer__list {
  list-style-type: none;
  line-height: 2vw;
}

.footer__list a {
  opacity: .5;
}

.footer .absolute {
  position: absolute;
  width: 95%;
  text-align: center;
  bottom: 1vw;
}
/*# sourceMappingURL=style.css.map */